/*

Firefox visual customizations
-----------------------------

This file modifies the appearance of everything in a Firefox-window
which is no content, e.g the reload-button, tabs or the address-bar.



Usage
-----

Put this file with the name 'userChrome.css' in your browser-profile's
'chrome'-directory.

The profile-directory is located in '~/.mozilla/firefox' and its name
ends with '.default'.

If the profile-directory does not contain a directory named 'chrome'
already, you'll need to create it.

Since of firefox version 69, loading userChrome.css is disabled by default.
To re-enable it, type "about:config" in the adressbar, confirm you
understand the risks, search for "toolkit.legacyUserProfileCustomizations.stylesheets"
and click on the symbol to toggle the false/true value, so it's true.

Or use a './user.js' (see file in this folder), to set that config.


Inspect window-elements
-----------------------

You can enable an inspector for the browser-window, like this:

  - Open webinspector with Ctrl+Shift+i
  - Open webinspector's settings with F1
  - Where it says 'Advanced settings', check boxes for:
    - 'Enable browser chrome and add-on debugging toolboxes'
    - 'Enable remote debugging'

Now, the window-inspector can be opened with Ctrl+Shift+Alt+i



*/


/* Declare namespace, so Firefox knows how to interpret this file: */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");


/*


These styles were created while using FF vs ~ 91, still works with vs 94.


This is what they do:

- Hide entire topbar

- Show topbar when hovering over top edge of window

- Don't break the possibility to focus the addressbar with Ctrl+L



Complete element-tree of topbar for reference:

box
  toolbox#navigator-toolbox
    vbox#titlebar
    toolbar#nav-bar
      hbox#nav-bar-customization-target
        toolbarbutton#forward-button
        toolbarbutton#backward-button
        toolbaritem#stop-reload-button
        toolbarbutton#home-button
        toolbarspring
        toolbaritem#urlbar-container
          toolbartabstop

          hbox#urlbar

        toolbarspring
        toolbarbutton#save-to-pocket
        ... toolbarbuttons ...

  #navigator-toolbox
    #titlebar,
  #navigator-toolbox
      toolbarbutton,
  #navigator-toolbox
      toolbarspring,
  #navigator-toolbox
      #stop-reload-button
        toolbaritem#urlbar-container
          toolbartabstop

          hbox#urlbar

*/

  #navigator-toolbox
    #titlebar,
  #navigator-toolbox
      toolbarbutton,
  #navigator-toolbox
      toolbarspring,
  #navigator-toolbox
      #stop-reload-button {
        display: none;
      }

  #navigator-toolbox:hover
    #titlebar,
  #navigator-toolbox:hover
      toolbarbutton,
  #navigator-toolbox:hover
      toolbarspring,
  #navigator-toolbox:hover
      #stop-reload-button {
        display: block;
      }


#nav-bar,
#urlbar-container[breakout],
#urlbar-container {
  height: 0px;
  min-height: 0px !important;
}
  #navigator-toolbox:hover
#nav-bar,
  #navigator-toolbox:hover
#urlbar-container[breakout],
  #navigator-toolbox:hover
#urlbar-container,


  #navigator-toolbox:hover
#urlbar,
#urlbar:is([focused="true"]) {
height: auto;
  min-height: 40px !important;
overflow: visible;
}
#urlbar {
height: 1px;
overflow: hidden;
}


/*****************************************************************************************/
