/*

Firefox visual customizations
-----------------------------

This file modifies the appearance of everything in a Firefox-window
which is no content, e.g the reload-button, tabs or the address-bar.



Usage
-----

Put this file with the name 'userChrome.css' in your browser-profile's
'chrome'-directory.

The profile-directory is located in '~/.mozilla/firefox' and its name
ends with '.default'.

If the profile-directory does not contain a directory named 'chrome'
already, you'll need to create it.


Inspect window-elements
-----------------------

You can enable an inspector for the browser-window, like this:

  - Open webinspector with Ctrl+Shift+i
  - Open webinspector's settings with F1
  - Where it says 'Advanced settings', check boxes for:
    - 'Enable browser chrome and add-on debugging toolboxes'
    - 'Enable remote debugging'

Now, the window-inspector can be opened with Ctrl+Shift+Alt+i



*/

/* Declare namespace, so Firefox knows how to interpret this file: */
@namespace url("http://www.mozilla.org/keymaster/gatekeeper/there.is.only.xul");

toolbox {
  height: 0;
  min-height: 0;
  overflow: hidden;
}

#titlebar-close {
  display: none;
}


/*

Manual adjustments
==================

For personal memory, as done in version 63.0 (Quantum).


Menu -> Edit -> Preferences
---------------------------

- Set homepage to ~/.mozilla/firefox/default.html and provide the file with this content:
    <style>
    body {
        background: #000;
    }
    </style>

- Set default colors to bg:black col:white


Menu -> View -> Toolbars -> Customize...
-----------------------------------------

- Disable title-bar display



*/
