body {
    font-size: 24px;
    background: silver;
    background: #111;
    color: #e2e2e2;
}
/*
* { margin:0; padding:0; }
    overflow: hidden;
text-transform: lowercase;
ul { 
    z-index: 1;
}
    list-style: inside;
li { 
    padding-left: 2.7em;
}
*/

