div { // table
  line-height: 1.61em;
  min-height: 1.61em;
  vertical-align: top;
  display: inline-block;
  border-right: 1px solid;
  border-bottom: 1px solid;
  border-color: #a2a2a2;
  & > div { // row
    border-right: none;
    border-bottom: none;
    & > div { // cell
      display: block;
      height: 1.61em;
      padding: 0.4em 0.5em;
      border-left: 1px solid;
      border-top: 1px solid;
      border-color: #a2a2a2;
      & input { // cell-input
        background: #e2e2e2;
        background: #f2f2f2;
        border: none;
        height: 100%;
        font-size: 1em;
        margin-left: -1px;
      }
    }
  }
  .button { // buttons
    background: #e2e2e2;
    span& { // span-buttons
      display: inline-block;
      min-width: 1em;
    }
  }
}
